[package]
name = "narrowlink-token-generator"
version = "0.1.2"
description = 'Token generator for narrowlink'
readme = "README.md"
homepage = "https://narrowlink.com"
repository = "https://github.com/narrowlink/narrowlink"
license = 'MPL-2.0'
keywords = ["narrowlink"]
authors = ['Narrowlink <opensource@narrowlink.com>']
edition = "2021"

include = ["Cargo.toml", "LICENSE", "sample_token-generator.yaml", "src/**/*"]

[[bin]]
name = "narrowlink-token-generator"
path = "src/main.rs"

[dependencies]
narrowlink-types = { version = "0.1.2" }
jsonwebtoken = { version = "8.3.0" }
serde = { version = "1.0.183", features = ["derive"] }
serde_yaml = { version = "0.9.25" }
dirs = { version = "5.0.1" }
clap_lex = { version = "0.5.0" }
