[package]
name = "narrowlink-agent"
version = "0.2.0-git"
description = 'Narrowlink Agent'
readme = "README.md"
homepage = "https://narrowlink.com"
repository = "https://github.com/narrowlink/narrowlink/"
license = 'MPL-2.0'
keywords = ["narrowlink"]
authors = ['Narrowlink <opensource@narrowlink.com>']
edition = "2021"

include = [
  "Cargo.toml",
  "LICENSE",
  "sample_agent.yaml",
  "src/**/*",
  "*help.arg",
]

[dependencies]
tokio = { version = "1.32.0", default-features = false, features = [
  "macros",
  "rt",
  "time",
  "rt-multi-thread",
] }
futures-util = { version = "0.3.28", default-features = false }
tokio-util = { version = "0.7.8", default-features = false }
serde = { version = "1.0.188", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.106", default-features = false }
serde_yaml = { version = "0.9.25", default-features = false }
uuid = { version = "1.4.1", default-features = false }
sysinfo = { version = "0.29.10", default-features = false }
futures-channel = { version = "0.3.28", features = ["sink"] }
udp-stream = { version = "0.0.9", default-features = false }
sha3 = { version = "0.10.8", default-features = false }
hmac = { version = "0.12.1", default-features = false }
dirs = { version = "5.0.1", default-features = false }
tracing = { version = "0.1.37", default-features = false, features = [
  "attributes",
] }
tracing-subscriber = { version = "0.3.17", default-features = false, features = [
  "fmt",
  "ansi",
  "json",
] }
tracing-appender = { version = "0.2.2" }
clap_lex = { version = "0.5.1", default-features = false }
thiserror = { version = "1.0.48", default-features = false }
# base64 = { version = "0.21.0", default-features = false }

narrowlink-types = { version = "0.2.0-git" }
narrowlink-network = { version = "0.2.0-git" }

[target.'cfg(unix)'.dependencies]
daemonize = { version = "0.5.0", default-features = false }

[features]
default = ["rustls"]
rustls = ["narrowlink-network/rustls"]
native-tls = ["narrowlink-network/native-tls"]
native-tls-vendored = ["narrowlink-network/native-tls-vendored"]
